div {
  height: 200px;
  width: 200px;
}

.red {
  background-color: #f65314;
}

.blue {
  background-color: #00a1f1;
}

.green {
  background-color: #7cbb00;
}

.yellow {
  background-color: #ffbb00;
}
