<div class="logo-container">

  <div class="logo-wrapper">
    <app-small-square [color]="'red'"  (backgroundColor)="getBackgroundColor($event)"></app-small-square>
    <app-small-square [color]="'green'" (backgroundColor)="getBackgroundColor($event)"></app-small-square>
    <app-small-square [color]="'blue'" (backgroundColor)="getBackgroundColor($event)"></app-small-square>
    <app-small-square [color]="'yellow'" (backgroundColor)="getBackgroundColor($event)"></app-small-square>
  </div>

</div>
